@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#dropdown-menu-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2 .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#dropdown-menu-2 .nav .link,
#dropdown-menu-2 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2 .navbar,
#dropdown-menu-2 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2 .dropdown-menu a:hover,
#dropdown-menu-2 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2 .navbar-toggler {
  color: #000000;
}


#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-j .navbar-toggler {
  color: #000000;
}


#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #000000;
}


#dropdown-menu-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-v .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#dropdown-menu-v .nav .link,
#dropdown-menu-v .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-v .navbar,
#dropdown-menu-v .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-v .dropdown-menu a:hover,
#dropdown-menu-v .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-v .navbar-toggler {
  color: #000000;
}
